@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Barriecito&family=Dancing+Script:wght@600&family=Edu+SA+Beginner:wght@500&family=Fasthand&family=League+Spartan&family=Open+Sans:wght@400;500;600&family=Roboto:ital,wght@0,100;0,500;1,400;1,500&family=Rubik+Iso&family=Skranji&display=swap');

body{
  font-family: 'Open Sans',sans-serif;
}

.circle{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle h2{
  margin-left: 10px;
}